body{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #242423;
}
.exercises{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #e8eddf;
    border: 4px solid #f5cb5c;
    border-radius: 15px;
}
.exercises div a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
}